<form (ngSubmit)="submit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input name="initial-investment" id="initial-investment" [(ngModel)]="enteredInitialInvestment" />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input id="annual-investment" name="annual-investment" type="number" [(ngModel)]="enteredAnnualInvestment" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" name="expected-return" [(ngModel)]="enteredExpectedReturn" />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" name="duration" [(ngModel)]="enteredDuration" />
    </p>
  </div>
  <button>Calculate</button>
</form>